body{
    background-color: rgb(231, 231, 255);
}

.a_buttons{
    background-color: rgb(212, 245, 159);
    border-radius: 5px;
    padding: 10px;
    border-color: black;
    margin-left: 15px;
    margin-right: 15px;
}

.a_decoration{
    text-decoration: inherit;
    text-decoration: none;
    color: black;
}
